.container {
    display: flex;
    width: 100vw;
    z-index: 10;
}

.movingBars {
    z-index: 10;
    margin-top: 70px;
}

.topBar {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #388bff;
    transform: rotate(5deg);
    padding-block: 35px;
    position: relative;
    width: 110%;
    right: 10px;
    overflow: hidden;
    white-space: nowrap;
    right: 10px;
    width: 110%;
    z-index: 10;
}

.topBarContent {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    animation: scrolling-left 20s linear infinite;

    span:nth-child(odd) {
        font-family: Lato;
        font-size: 32px;
        font-weight: 900;
        line-height: 100%;
        letter-spacing: 0.167px;
        white-space: nowrap;

        color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: var(--text-text-inverted, #0b090d);
        -webkit-font-smoothing: antialiased;
    }

    span:nth-child(even) {
        color: #0b090d;
        font-family: Lato;
        font-size: 32px;
        font-weight: 900;
        line-height: 100%;
        letter-spacing: 0.167px;
        white-space: nowrap;
    }
}

.bottomBar {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 15px;
    background: #7f35ff;
    width: 110%;
    top: -140px;
    padding-block: 20px;
    transform: rotate(-5deg);
    position: relative;
    margin-bottom: 15px;
    bottom: 75px;
    overflow: hidden;
}

.bottomBarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    animation: scrolling-right 20s linear infinite;

    span:nth-child(odd) {
        font-family: Lato;
        font-size: 32px;
        font-weight: 900;
        line-height: 100%;
        letter-spacing: 0.167px;
        white-space: nowrap;

        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--text-text-inverted, #fff);
        -webkit-font-smoothing: antialiased;
    }

    span:nth-child(even) {
        color: #fff;
        font-family: Lato;
        font-size: 32px;
        font-weight: 900;
        line-height: 100%;
        letter-spacing: 0.167px;
        white-space: nowrap;
    }
}

@keyframes scrolling-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrolling-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
